<div class="event">
  <div class="content">
    <div class="summary message-body">
      <em class="message-sender"> <%= message.user.username %> </em>: 
      <p class="message-content"> <%= message.message%> </p>
    </div>
  </div>
</div>