<% if flash.present? %>
  <div class="ui container">
    <% flash.each do |key, message| %>
      <div class="ui <%= key %> message transition">
        <i class="close icon"></i>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>