<%# if flash.present? %>
  <div class="ui container">
    <% flash.each do |key, message| %>
      <div class="ui <%= key %> message">
        <i class="close icon"></i>
        <ul class="list">
          <li><%= message %></li>
        </ul>
      </div>
    <% end %>
  </div>
<%# end %>